.areas-sec {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 48px;

  .areas-marquee {
    width: 100%;
    display: flex; // important
    flex-wrap: nowrap;
    justify-content: flex-start;
    overflow: hidden;

    &.reverse {
      justify-content: flex-end;
      .all-areas {
        animation: marqueeReverse 45s linear infinite forwards;
        animation-delay: -1s;
      }
    }
  }

  .all-areas {
    width: auto;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    will-change: transform;
    animation: marquee 45s linear infinite forwards;

    .area {
      flex-shrink: 0;
      margin-right: 32px;
      display: flex;
      align-items: center;
      column-gap: 16px;

      .icon {
        height: 60px;
        width: 60px;
        border-radius: 60px;
        border: 2px solid var(--border-color);
        background-color: var(--bg-gray);
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          width: 24px;
          height: 24px;
        }
      }
    }
  }
}
