.news-sec {
  padding: var(--gap-big-2) 0;
  overflow: hidden;

  .news-sec-heading {
    .cta-div {
      margin-top: 40px;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 12px;
    }
  }

  .all-news {
    margin-top: var(--gap-8);

    .swiper {
      overflow: visible;
    }

    .news {
      width: 304px;
    }
  }
}
