.who-sec {
  .first-sec .img-contain {
    width: 100%;
    height: auto;
    aspect-ratio: 3/4;
    border-radius: var(--br-small);
  }

  .who-sec-content {
    padding-top: 20px;

    h2 {
      font-weight: 400;
    }
    .button {
      margin-top: var(--gap-4);
    }
  }
}
