---
import { sanityClient } from 'sanity:client'
import MediaCard from '../MediaCard.astro'

const allMedia = await sanityClient.fetch(`
  *[_type == 'media'] | order(_createdAt desc)[0...4]{
    title,
    slug,
    mediaType,
    'thumb': thumb.asset,
    author->{name, 'pic': pic.asset}
  }
`)
const { content } = Astro.props
---

<section class='news-sec'>
  <div class='wrapper'>
    <div class='news-sec-heading main-grid'>
      <div class='left-part'>
        <span class='sec-tag'>{content.tag}</span>
      </div>
      <div class='heading-content'>
        <h2>{content.title}</h2>
        <div class='cta-div'>
          <a href='/media' class='button angle-arrow'> View blog </a>
          <a
            href='https://www.meetup.com/Dublin-Tech-Talks/'
            target='_blank'
            class='button angle-arrow'
          >
            Dublin tech talks
          </a>
        </div>
      </div>
    </div>

    <div class='all-news'>
      <div class='swiper swiper-news'>
        <div class='swiper-wrapper'>
          {
            allMedia.map((media) => (
              <MediaCard media={media} className='swiper-slide news' />
            ))
          }
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  import Swiper from 'swiper'
  import 'swiper/css'
  import { register } from 'swiper/element/bundle'
  register()

  const newsSwiper = new Swiper('.swiper-news', {
    slidesPerView: 'auto',
    spaceBetween: 32,
    grabCursor: true
  })
</script>
