---
const { title, description, image } = Astro.props
export const metadata = {
  title: 'No BullSh*t Just Delivery',
  description: `A VC trusted tech recruitment firm with a global network specialising in helping organisations scale their teams.`,
  siteUrl: 'https://needl-demo.netlify.app'
}

import Cursor from './Cursor.astro'
import Navbar from './Navbar.astro'
import Footer from './Footer.astro'
import '../css/styles.scss'
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <link rel='sitemap' href='/sitemap-index.xml' />
    <title>{title || metadata.title}</title>
    <meta name='description' content={description || metadata.description} />
    <meta name='theme-color' content='#3ce8a1' />
    <meta name='msapplication-TileColor' content='#3ce8a1' />

    <!-- Open Graph -->
    <meta
      property='og:image'
      content={image || `${metadata.siteUrl}/og-image.png`}
    />
  </head>
  <body>
    <Cursor />
    <Navbar />
    <slot />
    <Footer />
  </body>
</html>
