.hero {
  margin-top: var(--nav-height);

  h1 {
    margin-left: -4px;
  }
  .hero-para {
    margin-top: 24px;
    font-size: 22px;
    line-height: 1.4;
  }
  .button,
  button {
    margin-top: 32px;
  }
}
