.media-card {
  align-self: flex-start;

  .thumb {
    width: 100%;
    height: auto;
    aspect-ratio: 3/2;
    border-radius: var(--br-small);
    overflow: hidden;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  h3 {
    margin-top: 20px;
    font-size: 22px;
    line-height: 1.25;
  }

  .media-tag {
    margin-top: 16px;
    display: inline-flex;
    align-items: center;
    column-gap: 6px;
    img {
      height: 18px;
      height: 18px;
    }
    span {
      color: var(--purple);
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 0.01em;
    }
  }
}
