.all-numbered-cards {
  margin-top: var(--gap-6);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--gap-6) 24px;

  .numbered-card {
    max-width: 400px;

    h3 {
      margin-top: 24px;
    }

    p {
      margin-top: 16px;
    }
  }
}
