.team-sec {
  padding: var(--gap-big-2) 0;
  background-color: var(--bg-gray);
  border-radius: var(--br);

  .team-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .team-members {
    margin-top: var(--gap-6);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;

    .team-member-card {
      background-color: var(--white);
      border-radius: var(--br);
      padding: 32px 32px 40px;
      display: flex;
      flex-direction: column;
      align-items: center;

      .member-dp {
        height: 120px;
        width: 120px;
        object-fit: cover;
        border-radius: 120px;
      }

      h3 {
        margin-top: 16px;
        line-height: 1.2;
      }

      .desig {
        margin-top: 12px;
        line-height: 1;
      }

      .socials {
        margin-top: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 12px;

        a {
          height: 40px;
          width: 40px;
          border: 1px solid var(--border-color);
          border-radius: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
          img {
            height: 18px;
          }
        }
      }
    }
  }

  .cta-div {
    margin-top: var(--gap-6);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
  }
}
