.jobs-main-sec {
  background-color: var(--bg-gray);
  padding: var(--gap-big-2) 0;

  .all-jobs {
    display: flex;
    flex-direction: column;
    gap: 12px;

    .job-card {
      padding: 20px;
      background-color: var(--white);
      border-radius: var(--br);
      position: relative;

      &:hover {
        h3 {
          text-decoration: underline;
          text-decoration-color: var(--green);
          text-underline-offset: 3px;
        }
      }

      h3 {
        padding-right: 30px;
      }

      p {
        font-size: 16px;
      }

      .job-points {
        margin-top: 16px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 16px 8px;

        .job-tag {
          padding: 8px 12px;
          background-color: var(--white);
          border: 1px solid var(--border-2);
          border-radius: 40px;
        }

        .posted {
          margin-left: auto;
          opacity: 0.6;
        }

        @media (max-width: 600px) {
          .job-tag {
            padding: 6px 10px;
          }
          .posted {
            flex-basis: 100%;
            margin-left: 0;
          }
        }
      }

      .arrow-ico {
        position: absolute;
        top: 20px;
        right: 20px;
        img {
          display: block;
          height: 24px;
          width: 24px;
          transform: rotate(-45deg);
        }
      }
    }
  }

  .all-filters {
    margin-top: 16px;
    max-width: 240px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 8px;

    .filter {
      font-size: 16px;
      padding: 8px 16px;
      background-color: var(--white);
      border: 1px solid var(--border-2);
      border-radius: 40px;
      cursor: pointer;
      transition: background-color 0.2s ease-out;

      &:hover {
        background-color: var(--bg-gray);
      }
      &.active {
        border: 0;
        background-color: var(--black);
        color: var(--white);
        cursor: initial;
      }
    }
  }
}
